@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Libre+Baskerville&display=swap');


/* --------------------------- */
/* Global Styles */


/* Fonts */


h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
}

p{
    font-family: 'Lato', sans-serif; 
    font-size: 16px;
}

/* Spacing */

.full-height {
    height: 100vh;
}


/* --------------------------- */
/* Components */

.name{
    margin-left: 700px;
    margin-bottom: -100px;
    padding-top: 50px;
}

.logo{
    margin-left: 600px;
}

.accordion{
    width: auto;
    height: auto;
    margin-left: 10px;
    float: left;
    margin-top: -100px;
}

button{
    border: none;
   border-radius:8px ;
   padding: 16px 20px;
   background: #3C90CF;
   font-family: 'Lato', sans-serif; 
    font-size: 16px;
    color: white;
}

.hero-image{
    height: 50vh;
    margin-bottom: 200px;
 
}

/* Bootstrap component overrides */
/* carousel */

.carousel-item{
    background-color: #CADEED;
    background-image:url(../assets/image1.webp);
    background-blend-mode: screen;

}

.carousel-control-next, .carousel-control-prev{
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next{
    left: 84px;
}

/* card */

.card{
    border-radius: 150px 150px 12px 12px;
    background: #CADEED;
    border: none;
    text-align: center;
    height: 400px;
    float: left;
    margin-top: 100px;
    width: 500px;
    margin-bottom: 20px;

}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-img-top{
    width: auto;
    height: 320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-img-top.small{
    height: 200px;
    border-radius: 150px 150px 12px 12px;
    margin-top: 30px ;
}

.card-text {
    color: #18382B;
}

.nav-link {
    font-family: 'lato', sans-serif;
    color: rgba(0, 0, 0, 0.6);

}

.nav-link :hover{
    color: #18382B;
}

.nav-link.active{
    border-bottom: 2px solid #18382B;
}



.image1{
    width: 50px;
    height: 100px;
}

.trips{
    background-color:  #72a3c9;
}

#descriptiontext,
.button-class {
    display: none;
}


.weather-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
    height: 200px;
    background-color: #72a3c9 ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-top: 300px;
}
